<link rel="stylesheet" href="/public/CSS/index.css">

<header>
    <div class="header-content container">
        <div class="swiper mySwiper-1">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slider">
                        <div class="slider-txt">
                            <h1>Bajar de peso</h1>
                            <p>
                                En fitness restaurant bajar de peso tambien es comer delicioso, disfruta de nuestros platos enfocados en un deficit calofico
                            </p>
                            <div class="botones">
                                <a href="" class="btn-1">Comprar</a>
                                <a href="{% url 'menu' %}" class="btn-1">Menu</a>
                            </div>
                        </div>
                        <div class="slider-img">
                            <img src="{% static 'img/bajar.png' %}">
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide">
                    <div class="slider">
                        <div class="slider-txt">
                            <h1>mantenerse</h1>
                            <p>
                            Ni mucho ni poco, preparate para recibir todo nuestro catalogo de platos para mantenimiento si lo que quieres es conservar tus ganancias
                            </p>
                            <div class="botones">
                                <a href="" class="btn-1">Comprar</a>
                                <a href="{% url 'menu' %}" class="btn-1">Menu</a>
                            </div>
                        </div>
                        <div class="slider-img">
                            <img src="{% static 'img/mantenerse.png' %}">
                        </div>
                    </div>
                </div> 
                <div class="swiper-slide">
                    <div class="slider">
                        <div class="slider-txt">
                            <h1>Ganar masa</h1>
                            <p>
                                "Un menu diseñado para los que quieren ganar mas muscular o quizas para los que solo quieren comer y comer".
                            </p>
                            <div class="botones">
                                <a href="" class="btn-1">Comprar</a>
                                <a href="{% url 'menu' %}" class="btn-1">Menu</a>
                            </div>
                        </div>
                        <div class="slider-img">
                            <img src="{% static 'img/subir h.png' %}">
                        </div>
                    </div>
                </div> 

            </div>

        


            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</header>


<section class="products">
    <div class="tabs container">

        <input type="radio" name="tabs" id="tab1" checked="checked" class="tabinput" value="1">
        <label for="tab1">Platos</label>
        <div class="tab">
            <div class="swiper mySwiper-2" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food1.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food1.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food2.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>


                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food3.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div> 
        </div>

        <input type="radio" name="tabs" id="tab2" checked="checked" class="tabinput" value="2">
        <label for="tab2">Platos</label>
        <div class="tab">
            <div class="swiper mySwiper-2" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food1.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food1.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food2.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>


                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food3.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div> 
        </div>


        <input type="radio" name="tabs" id="tab3" checked="checked" class="tabinput" value="3">
        <label for="tab3">Platos</label>
        <div class="tab">
            <div class="swiper mySwiper-2" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food1.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food1.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food2.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>


                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-img">
                                <h4>Nuevo</h4>
                                <img src="{% static 'img/food3.png' %}">
                            </div>
                            <div class="product-txt">
                                <h4>Producto</h4>
                                <p>Calidad premium</p>
                                <span class="price">80.00</span>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div> 
        </div>
        
        
    </div>
</section>

<section>
    <iframe  class="map"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.624483248704!2d-75.60599289999999!3d6.1809892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46823b07fa76e7%3A0xd858c9c2ddf4b118!2sSENA%20Complejo%20Sur%20Itag%C3%BC%C3%AD!5e0!3m2!1ses-419!2sco!4v1743910399536!5m2!1ses-419!2sco" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>


<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'JS/index.js' %}" ></script>
{% endblock %}