<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Restaurant Login</title>
    <link rel="stylesheet" href="/CSS/styleLogin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- ESTO ES LA FUENTE DEL PROYECTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap" rel="stylesheet">
    <!-- API para iconos -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100..700,0..1,0..200" rel="stylesheet">
    
    <script>
        const urlCrearCliente = "{% url 'crear_cliente'";
        const urlIniciarSesion = "{% url 'iniciar_sesion' %}";
    </script>
</head>

<body>
    <div class="contenedor">
        <div class="left-side">
            <img src="/img/bgLogin.png" alt="Imagen" class="bgHamburguesa">
            <a href="/">
                <img src="/img/logo Gris.png" alt="Logo" class="logo">
            </a>
        </div>



        <div class="right-side">

        <div id="toast-container">
            <!-- {% if messages %}
                {% for message in messages %} -->
                    <!-- <div class="toast toast-{{ message.tags }}"> -->
                    <!-- Cuadro de ícono -->
                    <!-- <div class="toast-icon-box toast-{{ message.tags }}">
                        <span class="material-symbols-outlined icon">
                        {% if message.tags == 'success' %}
                            check
                        {% elif message.tags == 'error' %}
                            close
                        {% elif message.tags == 'info' %}
                            info
                        {% elif message.tags == 'warning' %}
                            warning -->
                        <!-- {% endif %} -->
                        <!-- </span>
                    </div> -->

                    <!-- Contenido del mensaje -->
                    <!-- <div class="toast-message">
                        <strong>
                        {% if message.tags == 'success' %}¡Éxito!{% elif message.tags == 'error' %}Error{% elif message.tags == 'info' %}Información{% elif message.tags == 'warning' %}Advertencia{% endif %} -->
                        <!-- </strong>
                        <span>{{ message }}</span> -->
                    <!-- </div>

                    Botón cerrar -->
                    <!-- <span class="material-symbols-outlined close">close</span>
                    </div> -->
                
                <!-- {% endfor %}
            {% endif %} -->
        </div>



            <div class="contenedorFormulario">
                <input type="checkbox" class="selector" id="selector">
                <label for="selector" class="switch"></label>

                <h2 class="Bienvenido">Bienvenido!</h2>

                <form id="loginForm" class="formulario" method="POST">
                    <input type="hidden" name="rol" id="rolInput">

                    <div class="input">
                        <input type="email" id="email" name="email" placeholder="E-mail" required>
                    </div>

                    <div class="input">
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                    </div>

                    <div class="input ultimo">
                        <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" placeholder="Confirmar Contraseña">
                        <span id="mensaje-error" style="color: red; display: none;">Las contraseñas no coinciden</span>
                    </div>

                    <div class="olvidar">
                        <a href="#">¿Olvidaste la Contraseña?</a>
                    </div>

                    <div class="terminos">
                        <input type="checkbox" class="checkterminos" id="checkTerminos">
                        <a href="/terminos">Aceptar terminos y condiciones</a>
                    </div>
                
                    <button type="submit" class="loginButton" id="submitBtn">Iniciar Sesión</button>
                    
                </form>
                
                <a href="/auth/facebook" class="btn btn-primary">
                    <i class="bi bi-facebook"></i> Continuar con Facebook
                </a>

                
            </div>
        </div>

    </div>
    <script src="/JS/login.js"></script>
    <script src="/JS/notificacion.js"></script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v23.0&appId=1094885869357563"></script>
      <script>
      
      
        function checkLoginState() {               // Called when a person is finished with the Login Button.
          FB.getLoginStatus(function(response) {   // See the onlogin handler
            statusChangeCallback(response);
          });
        }
      
      
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1094885869357563',
            cookie     : true,                     // Enable cookies to allow the server to access the session.
            xfbml      : true,                     // Parse social plugins on this webpage.
            version    : 'v23.0'           // Use this Graph API version for this call.
          });
      
      
          FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
          });
        };
       
        function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
              'Thanks for logging in, ' + response.name + '!';
          });
        }
      
      </script>
      
      
      <!-- The JS SDK Login Button -->
      
      <div id="status">
      </div>
      
      <!-- Load the JS SDK asynchronously -->
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

</body>

</html>
