
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next::after{
    font-size: 25px;
}
.swiper-button-next{
    color: var(--color-danger);
}
.swiper-button-prev{
    color: var(--color-danger);
}

.swiper-pagination-bullet{
    background-color: var(--color-dark);
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: var(--color-danger);

}

.header-content{
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider{
    display: flex;
    align-items: center;
}

.slider-txt{
    margin-left: 85px;
    width: 50%;
}


.slider-txt h1{
    font-size: 70px;
    color: var(--color-dark);
    text-transform: uppercase;
    font-weight: 800;
}


.slider-txt p{
    font-size: 18px;
    color: var(--color-info-dark);
}

.botones{
    margin-top: 50px;
}
.btn-1{
    display: inline-block;
    padding: 15px;
    background-color: var(--color-background-variant);
    color: var(--color-danger);
    box-shadow: var(--box-shadow-3D-textura);
    font-weight: 800;
    margin-right: 20px;
    text-transform: uppercase;
    border-radius: 60px;
}

.btn-1:hover{
    background: var(--color-background-redondo);
    box-shadow:  var(--box-shadow-3D-small);
}
.slider-img {
    width: 50%;
}
.slider-img img{
    margin-right: 225px;
    width: 550px;
}

.products{
    background-color: var(--color-background);
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;   
}

.tabs label{
    font-size: 18px;
    text-transform: uppercase;
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0px;
    text-align: center;
    cursor: pointer;
    color: var(--color-info-dark);
    font-weight: 700;
    transition: all 0.s ease;
}

.tabs .tab{
    order: 99;
    flex-wrap: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid var(--color-danger);
    color: var(--color-dark);
}

.tabs input[type="radio"]:checked + label + .tab{
    display: block;
}

.product{
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img{
    width: 50%;
    text-align: left;

}

.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: var(--color-dark);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid var(--color-dark);
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-img img{
    width: 150px;
    height: 120px;
}

.product-txt{
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4{
    color: var(--color-dark);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.product-txt p{
    color: var(--color-info-dark);
    font-size: 16px;
    margin-bottom: 15px;
}
.product-txt span{
    color: var(--color-dark);
    font-size: 18px;
    font-weight: 800;
}

.map{
    filter: grayscale(100%) invert(100%) contrast(93%);

}
@media (max-width: 991px) {
    .menu{
        padding: 20px;
        justify-content: space-between;
    }
    .menu-icono{
        font-size: 4rem;
    }

    .menu-2{
        display: none;
    }
    .logo-1{
        width: 100px;
    }

    .logo-2{
        width: 0;
    }
    .menu label{
        display: initial
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--color-dark);
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-content{
        padding: 30px;
        margin-top: 100px;
    }

    .slider{
        flex-direction: column;
    }

    .slider-txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1{
        font-size: 50px;
    }
    .slider-txt p{
        font-size: 16px;
    }

    .btn-1{
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img{
        text-align: center;
        width: 100%;
    }

    .slider-img img{
        margin-right: 0px;
        width: 300px;
    }

    .swiper-horizontal > .swiper-paginations-bullets,
    .swiper-paginations-bullets, .swiper-paginations-horizontal,
    .swiper-paginations-custom,.swiper-paginations-fraction{
        bottom: -7px;
    }

    .tabs{
        padding: 50px 30px;
    }
    
    .tabs label{
        width: 33%;
    }
    .footer{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }

}
