/* 游 Estilos Generales */
:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF5E5E;
    --color-success: #10C38F;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}


html{
    font-size: 18px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}
a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;

}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-weight: 600;
    font-size: 1.4rem;
}
h3{
    font-weight: 500;
    font-size: 0.87rem;
}
small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.dashboard-content{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    width: 9rem;
    height: auto;
    
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 85vh;
    position: relative;
    top: 1rem;
    transition: all 0.3s ease;
    overflow: hidden;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 25px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}
aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1)
}

main{

    margin-top: 1.4rem;
}

main .general{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .general > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1.5rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .general > div:hover{
    box-shadow: none;
}

main .general > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
main .general h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}
main .general .progreso{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .general svg{
    width: 7rem;
    height: 7rem;
}

main .general svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .general .ventas svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .general .visitas svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .general .busquedas svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .general .progreso .porcentaje{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


main .nuevos-usarios{
    margin-top: 1.3rem;
}
main .nuevos-usarios .lista-usuarios{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .nuevos-usarios .lista-usuarios:hover{
    box-shadow: none;
}

main .nuevos-usarios .lista-usuarios .usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .nuevos-usarios .lista-usuarios .usuario img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;

}


main .recent-orders{
    margin-top: 1.3rem;
}

main .recent-orders h2{
    margin-bottom: 0.8rem;
}

main .recent-orders table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 3rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.seccion-derecha{
    margin-top: 1.4rem;
}
.seccion-derecha .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.seccion-derecha .nav button{
    display: none;
}

.seccion-derecha .modo-oscuro{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    transition: all 1s ease;
}

.seccion-derecha .modo-oscuro span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-derecha .modo-oscuro span.active{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}

.seccion-derecha .nav .perfil{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.seccion-derecha .nav .perfil .perfil-foto{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.seccion-derecha .recordatorio{
    margin-top: 1rem;
}

.seccion-derecha .recordatorio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.seccion-derecha .recordatorio .header span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
}

.seccion-derecha .recordatorio .notificacion{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.seccion-derecha .recordatorio .notificacion:hover{
    box-shadow: none;
}

.seccion-derecha .recordatorio .notificacion .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.seccion-derecha .recordatorio .notificacion .icono{
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.seccion-derecha .recordatorio .notificacion.desactivada .icono{
    background-color: var(--color-danger);
}
.seccion-derecha .recordatorio .a침adir-recordatorio{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seccion-derecha .recordatorio .a침adir-recordatorio:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}


.seccion-derecha .recordatorio .a침adir-recordatorio div{
    display: flex;
    align-items: center;
    gap: 0.6;
}


.seccion-derecha .rese침as{
    margin-top: 2rem;
}


.seccion-derecha .rese침as h2{
    margin-bottom: 0.8rem;
}
.seccion-derecha .comentario{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0.7rem;
    padding: 1.2rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}


.seccion-derecha .comentario .usuario img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.seccion-derecha a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.seccion-derecha .comentario:hover{
    box-shadow: none;
}








/* Aqui empieza mostrar plato */




main .encabezado-platos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main .encabezado-platos .agregar{
    color: var(--color-white);
    padding: 1.5rem;
    background-color: var(--color-success);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 1rem;                                                                                                                                   
}

main .encabezado-platos .agregar:hover{
    box-shadow: none;
}

main .contenedor-platos{
    margin-top: 1.4rem;
}



main .contenedor-platos table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}


main .contenedor-platos table td{
    max-width: 11rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.96rem;
}



main .contenedor-platos table .contenedor-botones{
    display: flex;
    justify-content: center;
    gap: 1rem;
 }



main .contenedor-platos table:hover{
    box-shadow: none;
}




/* Aqui termina Crear plato */



/* Aqui empieza Crear plato */

.input-superior{
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--color-dark);
    background-color: var(--color-white);
    color: var(--color-info-dark);
    padding-left: 15px;
    transition: all 0.3s ease;
}

.input-superior::placeholder{
    color: var(--color-info-dark);

}


.crear-producto-section{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    overflow: hidden;
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    display: flex;
    width: 100%;
    height: 42rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
    transition: all 0.3s ease;
}
.contenedor-formulario{
    width: 40%;
}

.contenedor-formulario form{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 20px; 
    width: auto;  
    height: auto;
    transition: all 0.3s ease;
}


.contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 208px;
    border: 1px solid  var(--color-dark);
    border-radius: 30px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.contenedor-img span {
    font-size: 5rem;
    cursor: pointer;
    color: var(--color-dark);
    transition: all 0.3s ease;
}


.info-nutricional {
    display: flex;
    flex-wrap: wrap;             
    gap: 10px;
    width: 100%;                  
    padding: 10px;
    box-sizing: border-box;
}


.campo-nutricional {
    flex: 1 1 5%;               
    min-width: 75px;          
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.campo-nutricional span {
    margin-top: 5px;
    font-size: 15px;
    color: var(--color-info-dark);
    
}
.campo-nutricional input {
    width: 60px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
    background-color: var(--color-white);
    color: var(--color-info-dark);
    transition: all 0.3s ease;
}


.boton-formulario{
    height: 50px;
    font-size: 25px;
    border-radius: 50px;
    background-color:var(--color-danger);
    cursor: pointer;
    color: white;
    border: none;

}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus::placeholder {
    color: var(--color-info-dark);
}

.preview-container{
    width: 360px; 
    height: 571px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(45, 45, 45, 0.25);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff
}

.preview-container img {
    width: 100%;
    height: auto;
    clip-path: ellipse(90% 85% at 50% 15%);
}
.img-wrapper {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}
.nombre-plato{
    font-size: 16px;
    font-weight: bold;
    width: 85%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.precio{
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin: 25px;
    width: 85%;
}

.info-nutricional-preview{
    width: 85%;
    display: flex;
    gap:7%;
    font-weight: bold;
    text-align: center;
}

.top{
    font-size: 15px;
}

.button{
    font-size: 12px;
    color: #675D5D;
}
.boton-preview {
    color: white;
    width: 85%;
    height: 54px;
    border-radius: 50px;
    border: none;
    background-color: #10C38F;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}  


/* aqui termina el dise침o de agregar platos  */



/* aqui empieza el dise침o de seleccionar usuario  */

.contenedor_seleccionar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

}

.contenedor_seleccionar a{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}


.contenedor_seleccionar a:hover{
    box-shadow: none;
}    

.contenedor_seleccionar a span{
    font-size: 10rem;
}


/* aqui termina el dise침o de seleccionar usuario  */



/* aqui empieza el dise침o de mostrar clientes  */


main .encabezado-clientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main .encabezado-clientes .agregar{
    color: var(--color-white);
    padding: 1.5rem;
    background-color: var(--color-success);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 1rem;                                                                                                                                   
}

main .encabezado-clientes .agregar:hover{
    box-shadow: none;
}

main .contenedor-clientes{
    margin-top: 1.4rem;
}



main .contenedor-clientes table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}


main .contenedor-clientes table td{
    max-width: 11rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.96rem;
}



main .contenedor-clientes table .contenedor-botones{
    display: flex;
    justify-content: center;
    gap: 1rem;
 }



main .contenedor-clientes table:hover{
    box-shadow: none;
}

/* aqui termina el dise침o de mostrar clientes  */


/* aqui empieza el dise침o de crear cliente admin */


.contenedor-formulario-cliente{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;

}

.formulario-listar-cliente{
    width: 100%; 
    height: 100%;
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    transition: all 0.3s ease;

}


.formulario-listar-cliente:hover{
    box-shadow: none;
}

.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #979797;
    transition: all 0.3s ease;
    
}

.input input{
    margin-left: 0.3rem;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;

    font-weight: 600px;
    transition: all 0.3s ease;
    color: var(--color-dark);
}
form .form-select{
    height: 54px;
    background-color: transparent;
    color: var(--color-dark-variant);
}

.input textarea{
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    color: var(--color-dark);
    background-color: transparent;
    box-sizing: border-box;
    resize: vertical;
}

.input textarea::placeholder {
    left: 1rem;
    font-size: 1rem;
    font-weight: 600px;
}
main form button{
    height: 54px;
    color: var(--color-white);
    font-size: 1.4rem;
    border-radius: var(--card-border-radius);
    border: none;
    background-color: var(--color-success);
}


/* aqui termine el dise침o de crear cliente admin*/